<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229715153190-v4g4h7ar3aqj7q7qlv1ucef3nteiiid1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229715153190-v4g4h7ar3aqj7q7qlv1ucef3nteiiid1</string>
	<key>API_KEY</key>
	<string>AIzaSyA0TYchp7aSF0dGta2ZCMEyVr4V6mBA-dg</string>
	<key>GCM_SENDER_ID</key>
	<string>229715153190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bireka.grid</string>
	<key>PROJECT_ID</key>
	<string>grid-ev-station</string>
	<key>STORAGE_BUCKET</key>
	<string>grid-ev-station.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229715153190:ios:f00a0549a9c7e7c2e9f1e7</string>
</dict>
</plist>